
body {
	font-family: 'メイリオ', Meiryo,sans-serif;
}

h1 {
	text-align: center;
}

/*ユーザー管理*/
table {
	width: 600px
	text-align: center;
	border-collapse: collapse;
  	border: solid 2px pink;
  	margin : 50px auto 50px;

}

table th {
	padding: 10px;
	color: #FF9800;/*文字色*/
  	background: #fff5e5;/*背景色*/
  	border: dashed 1px pink;
}

table td {
	padding: 3px 10px;
	border: dashed 1px pink;
	background-color: white;
}


/*ログイン*/

.login {
	text-align: center;
    heigth : 200px;
	width :  500px;
	margin : auto;
}

.button {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 10px;   /* 余白       */
  background    : pink;     /* 背景色     */
  color         : black;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 0.9;         /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
}
.button:hover {
  opacity       : 1;           /* カーソル時透明度 */
}


/*ホーム*/
.main-contents {
	width : 600px;
	margin : 10px auto 10px;
	padding: 10px;
}


.search-area {
	width : 600px;
	margin : 50px auto 50px;
	padding: 5px;
	background-color: white;
	border: solid 1px black;
}

.header {
	text-align: center;
	background-color: pink;
}

#menu {
  list-style: none;
  font-size: 0;
}

#menu li {
  width: 140px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-bottom: solid 1px
}

#menu li a {
  text-decoration: none;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 80px;
}

.profile .profile-image {
	float: center;
}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
}

.profile .description {
	font-size: 13px;
	line-height: 22px;
}


.posts{
    width : 550px;
	padding: 30px;
	margin : 20px auto 20px;
	background-color: white;
	border: double 6px pink;

}


.each-post {
	padding: 30px;
	margin: 10px auto 10px;
	border: solid 1px black;
	border-radius : 10%;

}

.title {
	font-size: 20px;
	padding-top: 10px;
	border-bottom: dashed 1px black;
	font-weight: bold;
}

.post-text {
	font-family: 'メイリオ', Meiryo,sans-serif;
	font-size: 20px;
	border-bottom: dotted 1px black;
}

.comment-delete {
	margin-left: auto;
	font-size: 10px;
}

.date {
	font-size: 10px;
}

.account-name {
	font-size: 10px;
}

.comment{
	width : 500px;
	padding: 20px;
	margin : 20px auto 20px;
	background-color: pink;
	font-size: 10px;
	border-radius : 10%;          /* 角丸       */
}

}

.comment-text {
	font-family: 'メイリオ', Meiryo,sans-serif;
	font-size: 20px;
}

.account-name{
	text-align: left;

}

.form-area {
	margin-top: 10px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: pink;
	padding-bottom: 20px;
	border-radius : 10%;
}

.signup {
	text-align: center;
    heigth : 200px;
	width :  500px;
	margin : auto;
}

.useredit {
	text-align: center;
    heigth : 200px;
	width :  500px;
	margin : auto;
}



.message-icon {
	border-bottom-style: ridge;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 80px;
}

.message-icon .icon {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	float: left;
}

.message-icon .text {
	height: 40px;
}

.message-icon .message {
	margin-left: 60px;
}

.message-icon .account-name {
	margin-top: 1px;
	margin-bottom: 5px;
}

.message-icon .account-name .account {
	font-weight: bold;
}

.account-name .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.copyright {
	width: 250px;
	margin: 0 auto;
	text-align: center;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	text-align: center;
	color: red;
	font-weight: bold;
}

.errorMessages li {
	list-style: none;
}